<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/css/normalize-8.0.1.min.css" />
        <link rel="stylesheet" href="/css/main.css" />
        <title>{{if .Title}}{{ .Title }} - {{end}}{{.SiteTitle}}</title>
        <link rel="icon" href="data:;base64," />
	</head>
	<body>
		<div class="container">
			<div class="nav">
				<div class="nav-left">
				<a href="/" class="nav-title"><img src="/img/icon.png"
					class="logo" title="page loaded in {{CalcTime .PageStartTime}}ms" /> {{.SiteTitle}}{{if .DevMode}} [dev]{{end}}</a>
				{{if .Course}}<a href="/course/{{.Course.Code}}">{{.Course.Code}}</a>{{end}}
				{{if and .PostButton}}<a href="/course/{{.Course.Code}}/post">new post</a>{{end}}
				{{if .LoggedIn}}{{if and .User.IsAdmin .AddCourseButton}}<a href="/admin/add_course">add course</a>{{end}}{{end}}
				</div>
				<div class="nav-right">
					{{if .LoggedIn}}
					<a href="/profile">Logged in as {{if .User.FullName}}{{.User.FullName}}{{else}}{{.Username}}{{end}}{{if .User.IsAdmin}} (admin){{end}}</a>
				{{end}}
					{{if .LoggedIn}}<a href="/logout">Logout</a>{{else}}
					<a href="/login">Login</a>{{end}}
				</div>
			</div>

