/* Page style */
body {
  font-family: "Source Sans Pro", "Lucidia Grande", "Segoe UI", "Roboto", sans-serif;
  font-size: 1.2em;
  margin: 0;
  background-color: #fefefe;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

.sgrey {
  color: #8f8f8f;
}

.container {
  max-width: 1250px;
  position: relative;
  margin: 0 auto;
}

.content {
  padding: 20px 30px;
}

.post {
  padding: 0 4vh;
  line-height: 30px;
  font-size: 1.2em;
  margin: 25px 0;
}

.footer {
  font-size: 0.8rem;
  padding: 8px;
  text-align: center;
}

a {
  color: inherit;
}

.nav {
  padding: 5px 15px;
  margin-top: 1em;
  margin-bottom: 1.2em;
}

.nav a {
  text-decoration: none;
  font-weight: bold;
  padding-right: 15px;
  color: #777;
}

.nav-title {
  color: #000 !important;
}

.nav-left {
  float: left;
}

.nav-right {
  float: right;
  text-align: right;
}

.logo {
  height: 20px;
}

.entry a {
  display: block;
  width: 100%;
  color: #0b47bf;
  font-weight: bold;
  text-decoration: none;
}

code {
  white-space: pre;
}

/* Typography */
.title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0 30px 0 30px
}

.footer p {
  margin: 5px;
}

.meta p {
  margin: 0;
}

.meta a {
  padding: 0;
  margin: 0 0 5px 15px;
  color: #6e6e6e;
  font-weight: lighter;
}

@media only screen and (max-width: 780px) {
  body {
    font-size: 1em;
  }
  .post {
    padding: 0;
    max-width: 100%;
  }
  p {
    margin: 0;
  }
  textarea {
    max-width: 100%;
  }
}


.btn {
  display: inline-block;
  font-align: center;
  color: #333;
  background-color: #fafafa;
  padding: 3px 5px; 
  border: #ccc 1px solid;
  text-decoration: none;
}

.btn:focus {
  border: #888 1px solid;
}


.btn-danger {
  background-color: #fc4e51;
  color: #fff;
}

textarea, input {
  border-radius: 0;
  border: #ccc 1px solid;
  padding: 4px 6px;
  max-width: 100%;
}

textarea:focus, input:focus {
  border: #888 1px solid;
}

.comment h1, .comment h2 {
  font-size: 1.2rem;
}

.comment {
  padding: 5px 0;
}

/* Alert */

.alert {
  display: block;
  margin: 15px;
  padding: 8px;
  color: #000;
}

.alert-title {
  font-weight: bold;
}

.alert-green {
  background-color: #a7f9a7;
  outline: 1px solid #024702;
}

.alert-grey {
  background-color: #d7d7d7;
  outline: 1px solid #3d3d3d;
}

.alert-yellow {
  background-color: #fcef37;
  outline: 1px solid #9e7f06;
}

.alert-red {
  background-color: #f9a7b6;
  outline: 1px solid #470214;
}

/* Tables */
.post table {
  border-collapse: collapse;
}

.post table, .post th, .post td {
  border: 1px solid #000;
}

.post td {
  padding: 8px;
}

.badge {
  background: #dedede;
  padding: 2px 5px;
  border-radius: 4px;
  color: #3f3f3f;
}

.comment img {
  max-width: 35%;
  max-height: 35%;
}

.entry {
  padding: 5px 15px;
}

label {
  display: inline-block;
}

.item-title {
  font-weight: bold;
}

.form-item {
  display: block;
  width: 100%;
  margin-top: 5px;
}

.form-group {
  padding-bottom: 10px;
}

.muted-text {
  color: #6f6f6f;
  font-size: 0.9rem;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

@media only screen and (max-width: 860px) {
  [class*="col-"] {
    width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #202125;
    color: #feffff;
  }
  .badge {
    background-color: #3c4043;
    color: #feffff;
  }
  .nav-right, .meta a {
    color: #fff;
  }
  .nav-title {
    color: #fff !important;
  }
  .post table, .post th, .post td {
    border: 2px solid #4e4e4e;
  }
  .nav a {
    color: #cfcfcf;
  }
  textarea, input {
    background-color: #434449;
    border-color: #888;
    color: #fff;
  }
}
