/* Page style */
body {
  font-family: "Source Sans Pro", "Lucidia Grande", "Segoe UI", "Roboto", sans-serif;
  font-size: 1.2em;
  margin: 0;
  background-color: #f4f4f4;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

.sgrey {
  color: #8f8f8f;
}

.container {
  max-width: 1250px;
  position: relative;
  margin: 0 auto;
}

.content {
  padding: 20px 30px;
}

.post {
  padding: 0 4vh;
}

.post {
  line-height: 30px;
  font-size: 1.2em;
}

.footer {
  font-size: 0.8rem;
  padding: 8px;
  text-align: center;
}

a {
  color: inherit;
}

a:focus, button:focus {
  background-color: #ffbf47;
  outline: 2.5pt solid #ffbf47;
}

.btn:focus {
  font-weight: bold;
}

code {
  white-space: pre;
}

/* Typography */
.title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0 30px 0 30px
}

.footer p {
  margin: 5px;
}

.meta p {
  margin: 0 0 5px 15px;
  color: #424242;
  font-weight: lighter;
}

@media only screen and (max-width: 780px) {
  body {
    font-size: 1em;
  }
  .post {
    padding: 0;
    max-width: 100%;
  }
  p {
    margin: 0;
  }
  textarea {
    max-width: 100%;
  }
}


.btn {
  display: inline-block;
  font-align: center;
  color: #fff;
  background-color: #134dae;
  padding: 3px 5px; 
  border: #000727 1px solid;
  text-decoration: none;
}

.btn:focus, input:focus, textarea:focus {
  outline: 2.5pt solid #ffbf47;
  color: black;
}

textarea, input {
  border-radius: 0;
  border: 1px solid black;
  padding: 4px 6px;
}


/* Navigation bar */
nav {
  overflow: hidden;
  border-bottom: 1px solid #000000;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
}

nav ul li {
  float: left;
}

.nav-right {
  float: right;
  color: #424242;
}

.nav-title {
  font-size: 1.2rem;
}

nav ul li a {
  display: block;
  color: inherit;
  text-align: center;
  text-decoration: none;
  padding: .8em 1em;
}

nav ul li.active a {
  background: #014c8f;
  color: #fff;
}

nav ul li a:hover {
  text-decoration: underline;
}

nav ul li a:focus {
  outline: 0;
  background: #ffbf47;
  color: #000;
}

.comment h1, .comment h2 {
    font-size: 1.2rem;
}

/* Alert */

.alert {
  display: block;
  margin: 15px;
  padding: 8px;
  color: #000;
}

.alert-title {
  font-weight: bold;
}

.alert-green {
  background-color: #a7f9a7;
  outline: 1px solid #024702;
}

.alert-grey {
  background-color: #d7d7d7;
  outline: 1px solid #3d3d3d;
}

.alert-yellow {
  background-color: #fcef37;
  outline: 1px solid #9e7f06;
}

.alert-red {
  background-color: #f9a7b6;
  outline: 1px solid #470214;
}

/* Tables */
.post table {
  border-collapse: collapse;
}

.post table, .post th, .post td {
  border: 1px solid #000;
}

.post td {
	padding: 8px;
}

.badge {
  background: #dedede;
  padding: 2px 5px;
  border-radius: 4px;
  color: #3f3f3f;
}

.comment img {
  max-width: 35%;
  max-height: 35%;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #202125;
	color: #feffff;
  }
  .badge {
    background-color: #3c4043;
	color: #feffff;
  }
  .nav-right, .meta p {
    float: right;
    color: #98989f;
  }
  .post table, .post th, .post td {
    border: 2px solid #4e4e4e;
  }
}
