{{template "base/head" .}}
<div class="content">
	{{template "partials/flash" .}}
	<h2>{{.Course.Name}}</h2>
	<p>Sort by: <a href="/c/{{.Course.Code}}">hot</a> | <a
	href="/c/{{.Course.Code}}/top">top</a> | <a
	href="/c/{{.Course.Code}}/new">new</a></p>
	{{range .Course.Posts}}
	<div class="entry"><a href="/c/{{$.Course.Code}}/{{.PostID}}">{{.Title}}</a>
	<div class="meta">
		<p><a href="/c/{{$.Course.Code}}/{{.PostID}}">{{.Iota}}&iota; by {{if .Anonymous}}<i>{{.AnonName}}</i>{{else}}
		{{if .Poster.FullName}}{{.Poster.FullName}}{{else}}{{EmailToUser .Poster.Username}}{{end}}{{end}}
		{{CalcDurationShort .CreatedUnix}} ago | {{.CommentsCount}} comments</a></p>
	</div>
	</div>
	{{end}}
</div>
{{template "base/footer" .}}
