{{template "base/head" .}}
<div class="content">
	<h2>{{.Course.Name}} ({{.Course.Code}}) notes</h2>
	<a href="/course/{{.Course.Code}}/post" class="btn">Create a new post</a>
	<ul>
		{{range .Course.Posts}}
		<li><a href="/course/{{$.Course.Code}}/{{.PostID}}">{{.Title}}</a>
		<div class="meta">
			<p>0 comments</p>
		</div>
		</li>
		{{end}}
	</ul>
</div>
{{template "base/footer" .}}
