{{template "base/head" .}}
<div class="content">
	{{template "partials/flash" .}}
	<p><a href="/">&lt; Go back</a></p>
	<h2>{{.Course.Name}} ({{.Course.Code}}) notes</h2>
	<a href="/course/{{.Course.Code}}/post" class="btn">Create a new post</a>
	<ul>
		{{range .Course.Posts}}
		<li><a href="/course/{{$.Course.Code}}/{{.PostID}}">{{.Title}}</a>
		<div class="meta">
			<p>0&iota; by {{if .Poster.FullName}}{{.Poster.FullName}}{{else}}{{.Poster.Username}}{{end}}
			{{.Created}} ago | {{.CommentsCount}} comments</p>
		</div>
		</li>
		{{end}}
	</ul>
</div>
{{template "base/footer" .}}
