{{template "base/head" .}}
<div class="content">
	<div class="alert alert-red">
		<p class="alert-title">Notice: Check out our guidelines</p>
		<p>Before you post anything, please check out our
			<a href="/guidelines">guidelines</a>.</p>
		<p><small>This notice will eventually disappear.</small></p>
	</div>
	{{template "partials/flash" .}}
	<h2>Create a new post</h2>
	<form method="post">
		<div>
			<label for="title">Title:</label>
			<input type="text" id="title" name="title" required="1"
			autofocus="1"{{if .ptitle}} value="{{.ptitle}}"{{end}}>
		</div>
		<br />
		<div>
			 <textarea name="text" cols="70" rows="20" required="1">{{if .ptext}}{{.ptext}}{{end}}</textarea> 
		</div>
		<p>Markdown, HTML, and LaTeX Math is supported.</p>
		<div>
		<label for="anon">Post anonymously</label>
		<input type="checkbox" id="anon" name="anon">
		</div>
		<br />
		<input type="hidden" name="_csrf" value="{{.csrf_token}}">
		<button type="submit" class="btn">Submit new post</button>
		<p><small>You may edit the post later.</small></p>
	</form>

</div>
{{template "base/footer" .}}

