{{template "base/head" .}}
<div class="content">
	<h2>Guidelines</h2>
	<h3>What to post</h3>
	<p>Posts need to be on-topic to the course, it may be a question, lecture 
		notes, a helpful resource, or anything that other students might find
		useful.</p>
	<h3>Posting & Commenting</h3>
	<p>Be kind, and follow proper netiquette when posting, such as not using
		all-caps or spamming.</p>
	<p>When posting questions, add [Question] before the title of the post.</p>
	<h3>Code of Conduct</h3>
	<p>We follow the <a href="http://www.lunduke.com/coc.html">Luduke Code of
		Conduct</a>, which states:</p>
	<blockquote>
		<p>Be Excellent to Each Other.</p>
	</blockquote>
	<p>That's it.</p>
	<h3>Plagiarism/Academic Integrity</h3>
	<p>Please do not use this platform to commit acts of academic misconduct,
		this is for your own sake. This includes posting coursework
		material.</p>
	<p>Read more about <a href="https://www.hw.ac.uk/students/studies/examinations/plagiarism.htm">
		Plagiarism at Heriot-Watt University's website</a>.</p>
</div>
{{template "base/footer" .}}
