{{template "base/head" .}}
<div class="content">
	{{template "partials/flash" .}}
	{{if and .LoggedIn (not .User.FullName)}}<div class="alert alert-red">
	<p class="alert-title">Setup your profile</p>
	<p>Please set your display name in your <a href="/profile">profile
	settings</a>.</p></div>{{end}}
	<h2>Courses</h2>
	{{if .User.IsAdmin}}<a href="/admin/add_course" class="btn">Add course</a>{{end}}
	<ul>
		{{range .Courses}}
		<li><a href="/course/{{.Code}}">{{.Code}}: {{.Name}}</a>
		<div class="meta">
			<p>{{.PostsCount}} posts</p>
		</div>
		</li>
		{{end}}
	</ul>
</div>
{{template "base/footer" .}}
