{{template "base/head" .}}
<div class="content">
	{{template "partials/flash" .}}
	<p><a href="/course/{{.Post.CourseCode}}">&lt; Go back</a></p>
	<h2>{{.Post.Title}}</h2>
	<p><small class="sgrey">Posted by {{if .Post.Poster.FullName}}{{.Post.Poster.FullName}}{{else}}{{.Post.Poster.Username}}{{end}}
	{{.Post.Created}} ago</small></p>
	<div class="post">{{.FormattedPost}}</div>
	<h2 id="comments">Comments</h2>
	<form method="post">
		<div>
			 <textarea name="text" cols="40" rows="4" required="1" {{if not .LoggedIn}} disabled="1"{{end}}
			 placeholder="Markdown, HTML, and LaTeX Math supported">{{if not .LoggedIn}}Login to comment.{{else if $.ctext}}{{$.ctext}}{{end}}</textarea> 
		</div>
		<br>
		<input type="hidden" name="_csrf" value="{{.csrf_token}}">
		{{if .LoggedIn}}<button type="submit" class="btn">Comment</button>{{else}}<a href="/login" class="btn">Login</a>{{end}}
	</form>
	<br>
	{{range .Post.Comments}}
	<p id="c-{{.CommentID}}"><small class="sgrey">Comment by {{if .Poster.FullName}}{{.Poster.FullName}}{{else}}{{.Poster.Username}}{{end}} 
	{{.Created}} ago
	{{if $.LoggedIn}}{{if or (eq .Poster.Username $.User.Username) $.User.IsAdmin}} <a href="/del/{{.CommentID}}">[delete]</a>{{end}}{{end}}</small></p>
	<div class="comment">{{.FormattedText}}</div>
	{{end}}
</div>
<script>
MathJax = {
  tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']]
  },
  svg: {
    fontCache: 'global'
  }
};
</script>
<script id="MathJax-script" async src="/js/mathjax3-es5-tex-mml-chtml.js"></script>
{{template "base/footer" .}}
