{{template "base/head" .}}
<div class="content">
	<h2>{{.Post.Title}}</h2>
	<p><small>Posted by {{.Poster}}</small></p>
	<div class="post">{{.FormattedPost}}</div>

	<h2>Comments</h2>
	{{range .Post.Comments}}
	<p><small>Comment by {{.Poster}}{{if or (eq .Poster $.User.Username) $.User.IsAdmin}} <a href="/del/{{.CommentID}}">[delete]</a>{{end}}</small></p>
	<div class="post">{{.FormattedText}}</div>
	{{end}}

	<form method="post">
		<div>
			 <textarea name="text" cols="30" rows="4" required="1"></textarea> 
		</div>
		<p>Comments can be formatted with HTML, Markdown, and $\LaTeX$ for Math.</p>
		<br />
		<input type="hidden" name="_csrf" value="{{.csrf_token}}">
		<button type="submit" class="btn">Comment</button>
	</form>
</div>
{{template "base/footer" .}}
