{{template "base/head" .}}
<div class="content">
	<p><a href="/course/{{.Post.CourseCode}}">&lt; Go back</a></p>
	<h2>{{.Post.Title}}</h2>
	<p><small class="sgrey">Posted by {{if .Post.Poster.FullName}}{{.Post.Poster.FullName}}{{else}}{{.Post.Poster.Username}}{{end}}
	{{.Post.Created}} ago</small></p>
	<div class="post">{{.FormattedPost}}</div>

	<h2>Comments</h2>

	<form method="post">
		<div>
			 <textarea name="text" cols="30" rows="4" required="1"></textarea> 
		</div>
		<p>Comments can be formatted with HTML, Markdown, and $\LaTeX$ for Math.</p>
		<input type="hidden" name="_csrf" value="{{.csrf_token}}">
		<button type="submit" class="btn">Comment</button>
	</form>
	<br>
	{{range .Post.Comments}}
	<p><small class="sgrey">Comment by {{if .Poster.FullName}}{{.Poster.FullName}}{{else}}{{.Poster.Username}}{{end}} 
	{{.Created}} ago
	{{if $.LoggedIn}}{{if or (eq .Poster.Username $.User.Username) $.User.IsAdmin}} <a href="/del/{{.CommentID}}">[delete]</a>{{end}}{{end}}</small></p>
	<div class="comment">{{.FormattedText}}</div>
	{{end}}
</div>
{{template "base/footer" .}}
