{{template "base/head" .}}
<div class="content">
	{{template "partials/flash" .}}
	<p><a href="/course/{{.Post.CourseCode}}">&lt; Go back</a></p>
	<h2>{{.Post.Title}}</h2>
	<p><small class="sgrey">{{.Post.Iota}}&iota; by {{.Poster}}
	{{if .Post.Anonymous}}<span class="badge" style="font-weight:bold;">Anon</span>
	{{else if .Post.Poster.Badge}}<span class="badge">{{.Post.Poster.Badge}}</span> {{end}}{{.Post.Created}} ago
	{{if not .Locked}}<a href="/course/{{.Post.CourseCode}}/{{.Post.PostID}}/upvote">
	{{if .Upvoted}}[unvote]{{else}}[upvote]{{end}}</a>{{end}}{{if .LoggedIn}}{{if and .User.IsAdmin .Post.Anonymous}}
	<a href="/course/{{.Post.CourseCode}}/{{.Post.PostID}}/reveal">[reveal]</a>{{end}}
	{{if or .User.IsAdmin (eq .Post.PosterID .User.Username)}}<a href="/course/{{.Post.CourseCode}}/{{.Post.PostID}}/edit">
	[edit]</a>{{end}}{{end}}
	{{if .User.IsAdmin}}<a href="/course/{{.Post.CourseCode}}/{{.Post.PostID}}/del">[delete]</a>{{end}}
	</small></p>
	<div class="post">{{.FormattedPost}}</div>
	<h3 id="comments">Comments</h3>
	{{if not .Locked}}<form method="post">
		<div>
			<textarea name="text" cols="40" rows="4" required="1" {{if not .LoggedIn}} disabled="1"{{end}}
			placeholder="Markdown, HTML, and LaTeX Math supported">{{if not .LoggedIn}}Login to comment.{{else if $.ctext}}{{$.ctext}}{{end}}</textarea> 
		</div>
		<br>
		<input type="hidden" name="_csrf" value="{{.csrf_token}}">
		{{if .LoggedIn}}<button type="submit" class="btn">Comment</button>{{else}}<a href="/login" class="btn">Login</a>{{end}}
	</form>
	<br>{{end}}
	{{range .Post.Comments}}
	
	<p id="c-{{.CommentID}}"><small class="sgrey">Comment by
	{{if eq $.Post.PosterID .Poster.Username}}{{$.Poster}}{{else}}
	{{if .Poster.FullName}}{{.Poster.FullName}}{{else}}{{.Poster.Username}}{{end}}{{end}}
	{{if $.Post.Anonymous}}<span class="badge" style="font-weight:bold;">Anon</span>
	{{else if .Poster.Badge}}<span class="badge">{{.Poster.Badge}}</span> {{end}}{{.Created}} ago
	{{if and $.LoggedIn $.User.IsAdmin}}<a href="/course/{{$.Post.CourseCode}}/{{$.Post.PostID}}/del/{{.CommentID}}">[delete]</a>{{end}}</small></p>
	<div class="comment">{{.FormattedText}}</div>
	{{end}}
</div>
<script>
MathJax = {
  tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']]
  },
  svg: {
    fontCache: 'global'
  }
};
</script>
<script id="MathJax-script" async src="/js/mathjax3-tex-svg-full.js"></script>
{{template "base/footer" .}}
