{{template "base/head" .}}
<h1 class="noTopMargin">Privacy Policy</h1>

<p>To allow university students to login to the website, we require that users
sign up using their university email address. When logging in, we collect:</p>
<ul>
  <li>Your email</li>
  <li>Account creation time</li>
</ul>

<p>We also store your profile settings. All and any post is visible by anyone
on the Internet.</p>

<p>We may log requests as you browse the services and store it for 30 days:</p>

<ul>
  <li>Your IP address</li>
  <li>What was requested</li>
  <li>Was the request a success</li>
</ul>

<p>The purpose of this data collection is to help us identify any potential
abuse.</p>

<h2>Cookies</h2>
<p>Session cookies ("hithereimacookie") is used to keep track of the user's 
authentication state. No cookies are used for tracking users.</p>

<h2>Third Parties</h2>
<p>No information is shared with third parties.</p>

<h2>GDPR</h2>
<p>You may request to download or delete your data from your profile page.</p>

<p><i>Updated: 27/07/20</i></p>
{{template "base/footer" .}}
