{{template "base/head" .}}
<div class="content">
	{{template "partials/flash" .}}
	<h2>Profile</h2>
	<form method="post">
	<table border=0>
	<tbody>
	<tr>
	<td>User:</td>
	<td>{{.User.Username}}</td>
	</tr>
	<tr>
	<td>Created:</td>
	<td>{{.User.Created}} ago</td>
	</tr>
	<tr>
	<td>Display Name:</td>
	<td><input type="text" id="fullname" name="fullname"
	value="{{.User.FullName}}"></td>
	</tr>
	<tr>
	<td>Score (iota):</td>
	<td>{{.User.Iota}}&iota;</td>
	</tr>
	<tr>
	<td>Badge:</td>
	<td>
	{{range $i, $b := .AvailableBadges}}<input type="radio" name="badge"
	value="{{$b}}"{{if or (eq $.User.Badge $b) (and (eq $.User.Badge "") (eq $b "None")) }} checked="1"{{end}}> {{$b}}
	{{end}}
	</td>
	</tr>
	</tbody>
	</table>
		<input type="hidden" name="_csrf" value="{{.csrf_token}}">
		<button type="submit" class="btn">Update</button>
	</form>
	<br>
	<h2>Your Data</h2>
	<form method="post" action="/profile/data.json">
	<p>We collect your university username and any information you submit on
	this site. We do not share your information to third-parties or use
	analytics or tracking technologies.</p>
	<p>You may download your data as a JSON file.</p>
		<input type="hidden" name="_csrf" value="{{.csrf_token}}">
		<button type="submit" class="btn">Request data</button>
	<p><small>You may request your data to be deleted by contacting the <a
	href="mailto:me@humaidq.ae">site administrator</a>.</small></p>
	</form>


</div>
{{template "base/footer" .}}

