{{template "base/head" .}}
<div class="content">
	<h2>Questions & Answers</h2>
	<h3>What is this?</h3>
	<p>This is a notes-sharing website for Computer Science students at Heriot-Watt University.</p>
	<h3>Who did this?</h3>
	<p>Humaid, a year 3 Comp. Sci. student.</p>
	<h3>Why did you do this?</h3>
	<p>I like taking notes and sharing them, hopefully there are others who feel the same way I do.</p>
	<h3>How did you make this site?</h3>
	<p>This site is written in a language called <a href="https://golang.org">Go</a>. This is a list of
	the libraries that I used;</p>
	<ul>
		<li>Framework: <a href="https://go-macaron.com">Macaron</a>.</li>
		<li>Database/ORM: <a href="https://xorm.io">XORM</a>.</li>
		<li>Markdown rendering: <a
		href="https://github.com/yuin/goldmark">goldmark</a>.</li>
	</ul>
	<h3>Source code?</h3>
	<p>This website is open-source (under AGPL license), you can find the
	source and more at the <a href="https://humaidq.ae/projects/notes-overflow">Notes Overflow project page</a>.</p>
	<h3>My course is not listed.</h3>
	<p>Currently, the only courses listed are the current year 3 courses.</p>
	<h3>How do I create an account?</h3>
	<p>You don't, you can just use your university username directly to login.</p>
	<h3>How do I login?</h3>
	<p>Simply use your Heriot-Watt University username in the login page, you will receive a code
	at your University-provided email. No registration or sign-up required.</p>
	<h3>How can I format my post?</h3>
	<p>You can use <a href="https://daringfireball.net/projects/markdown/basics">Markdown</a> or HTML
	directly. Also <a
	href="https://en.wikibooks.org/wiki/LaTeX/Mathematics">LaTeX math is supported</a> with
	MathJax, so you can use equations inline ($ ... $) or in a block ($$ ... $$).</p>
	<h3>How do I know this site won't steal my password?</h3>
	<p>Because you won't be entering it anywhere, you will receive a temporary
	login code which will allow you to login.</p>
</div>
{{template "base/footer" .}}
